* { 
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}

body { 
    height: 100vh;
    width: 100%;
    color: #fff;
    background-color:#000; 
}
 
canvas { 
    position: fixed;
    inset: 0; 
    pointer-events: none;
}
